venv/
.venv_bigartm/
bigartm.INFO
bigartm.WIN-CBBFIM8TL6U.tasya.log.INFO.20260421-110044.10588
outputs/
.vscode/
data_corpus_all/
figures/
__pycache__
preprocessed_corpus.csv
cleaned_texts.csv
corpus_statistics.csv
corpus_summary_statistics.csv
gensim_corpus.mm
metadata.csv
top_bigrams.csv
top_trigrams.csv
gensim_corpus.mm.index
gensim_dictionary.dict
lda_model.model
lda_model.model.state
lda_model.model.id2word
lda_model.model.expElogbeta.npy
lsi_model.model
lsi_model.model.projection
tfidf_model.model
bertopic_model
bertopic_comprehensive_report.png
bertopic_dendrogram.png
bertopic_similarity_matrix.png
bertopic_top_topics_words.png
bertopic_documents.png
bertopic_topic_distribution.png
bertopic_document_distribution.png
documents_with_topics.csv
topic_modeling_comparison_detailed.png
lda_optimization_results.csv
lda_optimization_results.png
lda_model_best.model.state
lda_model_best.model.id2word
lda_model_best.model.expElogbeta.npy
lda_model_best.model
advanced_corpus_analysis.png
bertopic_document_distribution.png
corpus_analysis_basic.png
corpus_analysis_top_documents.png
document_length_analysis.png
lsi_model_best.model
lsi_model_best.model.projection
lsi_optimization_results.csv
lsi_optimization_results.png
topic_modeling_comparison_results.csv
bigartm.WARNING
bigartm.WIN-CBBFIM8TL6U.tasya.log.INFO.20260428-154556.1769
bigartm.WIN-CBBFIM8TL6U.tasya.log.INFO.20260428-155113.6061
bigartm.WIN-CBBFIM8TL6U.tasya.log.INFO.20260428-155527.1160
bigartm.WIN-CBBFIM8TL6U.tasya.log.INFO.20260428-155849.1191
bigartm.WIN-CBBFIM8TL6U.tasya.log.WARNING.20260428-155119.6061
bigartm.WIN-CBBFIM8TL6U.tasya.log.WARNING.20260428-155534.1160
bigartm.WIN-CBBFIM8TL6U.tasya.log.WARNING.20260428-155856.1191
bigartm_batches/
models/
data_corpus_tex/